@model FoodzIndexViewModel 


<div class="container">
    <div class="table-responsive ">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Foodz Name</th>
                    <th scope="col">Foodz Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                @for(var i=0; i < Model.Foodiez.Count;i++)
                {
                    var num = i + 1;
                    <tr>
                        <th scope="row">@num</th>
                        <td>@Model.Foodiez[i].Name</td>
                        <td>@Model.Foodiez[i].Description</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" asp-controller="Foodz"
                                    asp-action="FoodzView"
                                    asp-route-id=@Model.Foodiez[i].Id><i class="fas fa-edit"></i></a>
                            <a class="btn btn-outline-warning btn-sm" asp-controller="Foodz"
                               asp-action="Create"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
