@{
    ViewData["Title"]=Model.Name;
}
@model CabbieViewModel

<div class="container">
    <form asp-controller="Cabbie" asp-action="CabbieView" method="POST">
        <div class="form-group">
            
            <label asp-for="Name"></label>
            <input asp-for="Name" type=text value="@Model.Name" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" type=text value="@Model.Description" class="form-control"/>
        
        </div>
    </form>
</div>