@{ 
    ViewData["Title"] = "My Cabbies";
    
}
@model List<CabbieViewModel>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Cabbie Name</th>
                <th scope="col">Cabbie Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var num = i + 1;
                    <tr>
                        <th scope="row">@num</th>
                        <td>@Model[i].Name</td>
                        <td>@Model[i].Description</td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" asp-controller="Cabbie"
                                    asp-action="FoodzView"
                                    asp-route-id=@Model[i].Id><i class="fas fa-edit"></i></a>
                            <a class="btn btn-outline-warning btn-sm" asp-controller="Cabbie"
                               asp-action="Create"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>