@{ 
    ViewData["Title"] = "My Cabbies";
}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Cabbie Name</th>
                <th scope="col">Cabbie Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>