@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to CabbieFoodz!!</h1>
        <p class="lead">
            CabbieFoodz is a simple opensource web application for keeping track of your
            home food inventory
        </p>
        <p>
            Planned features
            <ul>
                <li>Intuitive interface for adding new items</li>
                <li>JSON Api for integrating to other UI types</li>
                <li>STRETCH:Support for barscanning SKUs of products</li>
            </ul>
        </p>
    </div>
</div>
